<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Log</title>
</head>
<body>
 <h2> you get out of life what you give </h2>
<nav>
    <a href="{% url 'learning_logs:home' %}">Home</a> |
    <a href="{% url 'learning_logs:topics' %}">Topics</a>|

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>

        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>

    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
</nav>

<hr>

{% block content %}
{% endblock %}

</body>
</html>
